DATABASE_URL=mongodb://localhost:27017/auraxam
GOOGLE_CLIENT_ID=upload your client id here.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=client secret upload here
SECRET_KEY=supersecretkeyazfarhumai
FRONTEND_URL=http://localhost:5173
